body{
    background: lightgray;
}
.sticky-nav{
    width: 100%;
    background-color: #fff;
    position: fixed;
    border-bottom: solid 3px #ddd;
    top: 0;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

.sticky-nav h1{
    padding: 20px;
    width: 200px;
    background-color: teal;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.menu-container{
    width: 300px;
}

.sticky-nav ul{
    float: right;
    padding: 20px;
}

.sticky-nav ul li{
    float: left;
    font-size: 18px;
    border-right: 1px solid #ddd;
    padding: 0px 10px 0px 10px;
}

.sticky-nav ul li:last-child{
    border-right: none;
}

.main-content{
    width: 70%;
    margin: 100px auto 30px auto;
    padding: 10px;
    background: #fff;
    border: 3px solid #ddd;
}